.shape *{
    height: 600px;
    width: 100vw;
    pointer-events: none;
    position: fixed;
    z-index: -1;
}
.tri-left{
    clip-path: polygon(50% 0%, 20% 0%, 50% 80%);
    background-color: #FCDEC2;
}
.tri-right{
    clip-path: polygon(50% 0%,70% 0%, 50% 80%);
    background-color: #FCE5C2;
}
.tri-leaf-left{
    clip-path: polygon(50% 300px,0% 115px, 50% 80%);
    background-color: #C4F3EE;
}
.tri-leaf-right{
    clip-path: polygon(50% 150px,80% 0px, 50% 80%);
    background-color: #C4F3EE;
}

.center-tri1{
    clip-path: polygon(50% 0,57% 50px, 50% 200px);
    background-color: #FCEFC2;
}
.center-tri2{
    clip-path: polygon(50% 50px,43% 100px, 50% 300px);
    background-color: #FCEFC2;
}
.center-tri3{
    clip-path: polygon(50% 200px,57% 300px, 50% 450px);
    background-color: #FCEFC2;
}